@import url('https://fonts.googleapis.com/css2?family=Sirin+Stencil&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Sirin Stencil', sans-serif;
}
body{
    background: #212529;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    padding: 0;
    
}
#aboutUs .card{
  display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar-toggler {
    border: none !important; 
    text-decoration: none !important;
    outline: none !important;


}

#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 95vh;
    padding: 2em;
  }
  
  .section__pic-container {
    display: flex;
    height: 150px;
    width: 180px;
    margin: auto 0;
  }
  
  .section__text {
    align-self: center;
    text-align: center;
  }
  
  .section__text p {
    font-weight: 600;
  }
  
  .section__text__p1 {
    text-align: center;
    color: #fff;

  }
  
  .section__text__p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
    color: #fff;

  }
  
  .title {
    font-size: 3rem;
    text-align: center;
    color: #fff;
  }
  
  #socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
  }

  .icon {
    cursor: pointer;
    color: #fff;
  }
  .find {
    margin-top: 5em;
  }
  .find .card {
    text-align: center;
    padding: 2em;
    margin-bottom: 1em;

  }

  .drawer__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 200;
    opacity: 0;
    transition: opacity 0.3s;
    will-change: opacity;
    background-color: #000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .drawer__header {
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
  }
  .drawer__close {
    border: none;
    background-color: transparent;
    cursor: pointer;
     }
  .drawer__wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    max-width: 500px;
    z-index: 9999;
    overflow: auto;
    transition: transform 0.3s;
    will-change: transform;
    background-color: rgb(54, 57, 63);
    display: flex;
    flex-direction: column;
    -webkit-transform: translateX(103%);
    transform: translateX(103%); /* extra 3% because of box-shadow */
    -webkit-overflow-scrolling: touch; /* enables momentum scrolling in iOS overflow elements */
    box-shadow: 0 2px 6px #777;
  }
  .drawer__content {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    flex-grow: 1;
    padding: 1.5rem;
  }
  .drawer.is-active {
    display: block;
  }
  .drawer.is-visible .drawer__wrapper {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  .drawer.is-visible .drawer__overlay {
    opacity: 0.5;
  }
  .drawer {
    display: none;
  }