@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Quando&family=Roboto+Mono:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  overflow: hidden !important;
  z-index: 1;
}
html{
  position: fixed;

}
body{
  overflow: hidden;
}
.quote .h4 {
  font-family: "Quando";
  color: rgba(215, 213, 213, 0.71);
  text-shadow: #212529 1px 1px;
  font-weight: 400;
}
.quote span{
  display: flex;
}
.quote .h5{
  font-family: "sans-serif";
}

.quote {
  font-family: "Quando";
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 50vw;
}
.cont {
  display: flex;
  color: #fff;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  margin: 0 !important;
  overflow: hidden !important;
  flex-direction: column;
  text-wrap: wrap;

}
.profile {
  position: absolute;
  top: 10vmin;
  left: 10vmin;
  display: flex;
  flex-direction: column;

  font-family: 'Baloo Bhai 2', sans-serif;  
}
.profile .h5 {
  color: rgba(255, 255, 255, 0.77);
}
#changebg .tabs{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 3px sold #fff; border-left: 0;
     
}
#changebg .tabs span{
  padding: 8px;
}

nav {
  display: flex;
  justify-self: center;

  border-left: 3px #fff solid;
  position: absolute;
  right: 0;

  transition: .5s ease-in;
}
nav ul {
  list-style: none;
  font-size: 40px;
  padding: 20px;
}
.video-player {
  width: 120vw !important;
  height: 110vh !important;
  pointer-events: none;
  transform: translateY(-10vh) translateX(-10vw);
}
#pomodoro {
  font-family: 'Roboto Mono', monospace;
  font-size: 124.512px;
  display: flex;
  flex-direction: column;
}
.bi-gear {
  color: #fff;
  font-size: 40px;
  display: none;
  position: absolute;
}

.bt {
  display: none;
}
.sidepannel {
  color: #fff;
  background-color: #212529;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
  width: 200px;
  border-radius: 20px 0 20px 20px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: .2s ease-in-out;
}
.changebg{
  width: 100%;
}
.pomodoroSettings .timr{
  color: #fff;
  padding: 5px;
  border: none;
  background-color: transparent;
  font-size: 15px;
  font-family: 'Roboto Mono', monospace;
  cursor: pointer;

  margin-bottom: 30px;
}

.pomodoroSettings input {
  color: #fff;
  padding: 5px;
  border: none;
  background-color: transparent;
  font-size: 25px;
  font-family: 'Roboto Mono', monospace;
  appearance: none ;
  text-align: center;
  border-bottom: 2px solid #fff;
}
.show{
  transform: translatex(0);
}
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input:focus{
  outline: none;
}
.pomodoroSettings button[type=submit] {
  color: #fff;
  font-size: 15px;
  padding-left: 10px;
}

#changebg{
  display: flex;
  flex: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 400px;
  position: absolute;
  top: 0;
  right: 0;
}
.changebg img{
  width: 80px;
  height: 45px;
  margin: 20px;
  object-fit: cover;
}
@media (max-width: 650px) {
  #pomodoro {
    font-family: "Roboto Mono", monospace;
    font-size: 90.512px;
  }

  .video-player {
    width: 415vw !important;
    height: 140vh !important;
    transform: translateY(-20vh) translateX(-140vw);
  }
}
@media (max-width: 500px) {
  .changebg img{
    width: 80px;
    height: 40px;
    margin: 10px;
  }
  #changebg{
    text-align: center;
    font-size: 13px;
    width: 225px;
    padding: 10px;
  }

  .youtube-background{

    height: 100vh !important;
    
  }
  body{
    height: 80vh;
  }
  .profile {
    display: none;
  }
  nav {
    display: flex;
    flex-direction: row;
    bottom: 0;
    left: 0;
    width: 100vw;
    border-left: none;
    border-top: #fff 3px solid;
    padding: 0;
    background-color: #212529;

    transform: translateY(100%);
  }
  nav ul {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    margin: 0 !important;

  }
  .nav {
    transform: translateY(250%);
  }
  .btn1 {
    display: block;
    position: absolute;
    bottom: 10px;
    right: 10px;
    transform: translateY(150%);
  }
  .bt {
    display: block;
  }
  .quote .h4 {
    font-size: 20px;
    font-weight: 400;
  }
  .quote .h5 {
    font-size: 15px;
    font-weight: 400;
  }
}
@media (max-width: 400px) {
  .video-player {
    width: 515vw !important;
    height: 140vh !important;
    transform: translateY(-20vh) translateX(-200vw);
  }
}
